:root{
    --vw: 0.01vw;
}

html {
    font-size: calc(16 / 1728 * 100 * var(--vw));
    line-height: 1;
  }

.body
{
    font-size: calc(18 / 1728 * 100 * var(--vw));
    line-height: 1.1; 
}

.subtitle
{
    font-size: calc(32 / 1728 * 100 * var(--vw));
    line-height: 1.1;   
}

.title
{
    font-size: calc(42 / 1728 * 100 * var(--vw));
    line-height: 1.1;   
}

.label
{
    font-size: calc(14 / 1728 * 100 * var(--vw));
    line-height: 1.1;   
}

.form-checkbox {
    background-image: none !important;

  }
  
  .form-checkbox:checked {
    background-image: none !important;

  }

.w-checkbox-input--inputType-custom,
.w-checkbox-input--inputType-custom.w--redirected-checked,
.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: none !important;
  outline: none !important;
}

.w-checkbox-input--inputType-custom.w--redirected-checked{
    border-color: black !important;
    border-width: 0px !important;
}




@media (max-width: 480px) {
    html {
      font-size: calc(16 / 480 * 100 * var(--vw));
      line-height: 1;
    }
  
    .body {
      font-size: calc(18 / 480 * 100 * var(--vw));
      line-height: 1.1;
    }
  
    .subtitle {
      font-size: calc(26 / 480 * 100 * var(--vw));
      line-height: 1.1;
    }
  
    .title {
      font-size: calc(32 / 480 * 100 * var(--vw));
      line-height: 1.1;
    }
  
    .label {
      font-size: calc(14 / 480 * 100 * var(--vw));
      line-height: 1.1;
    }

    .mob-label {
        font-size: calc(16 / 480 * 100 * var(--vw)) !important;
        line-height: 1.1;
      }

      .mob-tiny {
        font-size: calc(12 / 480 * 100 * var(--vw)) !important;
        line-height: 1.1;
      }

      .mob-sub {
        font-size: calc(18 / 480 * 100 * var(--vw)) !important;
        line-height: 1.1;
      }


  }